<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="webpack, tips, javascript, front-end" />
    <meta name="author" content="<%= author %>">

    <meta itemprop="name" content="<%= title %>">
    <meta itemprop="description" content="<%= description %>">
    <meta itemprop="image" content="">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="https://webpacktips.com/<%= lang %>/<%= file %>">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="twitter:creator" content="">

    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:site_name" content="" />

    <link rel="stylesheet" href="/style.css" />
    <link rel="preload" href="https://unpkg.com/prismjs@1.6.0" as="script" />
  </head>
  <body>
    <main>
      <div class="hero">
        <div class="hero-child">
          <a href="/<%= lang %>">← Back</a>
          <h1 class="post-title"><%= title %></h1>
          <span class="post-date">[<%= date %>]</span>
          <span class="post-author">
            <a href="<%= authorGithub %>"><%= author %></a>
          </span>
        </div>
      </div>
      <article>
        <%= html %>
      </article>
      <hr />
      <a href="/<%= lang %>">← Back</a>
    </main>
    <script async src="https://unpkg.com/prismjs@1.6.0"></script>
  </body>
</html>
